In [89]:
import pandas as pd
import numpy as np

# READ CSV

In [90]:
df = pd.read_csv("adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# RACE COUNT

In [91]:
df["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# MEN'S AVERAGE COUNT

In [92]:
df[df['sex'] == 'Male']["age"].mean()

39.43354749885268

# BACHELOR'S PERCENTAGE

In [93]:
df.education.value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [94]:
# bachelors_count = df[df["education"] == "Bachelors"]["education"].count()
# total_education_count = df["education"].count()
# bachelors_percentage = (bachelors_count / total_education_count) * 100
# bachelors_percentage

bachelors_percentage = df["education"].value_counts(normalize=True).get("Bachelors", 0) * 100
bachelors_percentage

# df["education"].value_counts(normalize=True)

16.44605509658794

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
### What percentage of people without advanced education make more than 50K?

In [95]:
df["salary"].value_counts()

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [96]:
advanced_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
high_earners = advanced_education[advanced_education["salary"] == ">50K"]
percentage_advance_high_earners = (high_earners.shape[0] / advanced_education.shape[0]) * 100
percentage_advance_high_earners

46.535843011613935

In [97]:
non_advanced_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
non_advance_high_earners = non_advanced_education[non_advanced_education["salary"] == ">50K"]
percentage_non_advance_high_earners = (non_advance_high_earners.shape[0] / non_advanced_education.shape[0]) * 100
percentage_non_advance_high_earners

17.3713601914639

### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [99]:
min_work_hour_per_week = df["hours-per-week"].min()
min_work_hour_per_week

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [ ]:
min_workers = df[df["hours-per-week "] == min_work_hour_per_week]
total_min_workers = len(min_workers)
min_workers_high_salary = len(min_workers[min_workers["salary"] == ">50K"])
percentage_high_salary = (min_workers_high_salary / total_min_workers) * 100
percentage_high_salary

### What country has the highest percentage of people that earn >50K?

In [124]:
country_high_earners = df[df['salary'] == '>50K'].groupby('native-country').size() / df.groupby('native-country').size() * 100
highest_percentage_country = country_high_earners.idxmax()
highest_earning_country_percentage = country_high_earners.max()